graphsurgeon==0.4.1
uff==0.6.5
tensorrt==7.0.0.11
fts3==3.8.3
gfal2-util==1.5.3
javapackages==1.0.0
python-ldap==2.4.15
tensorflow-gpu==2.0.0
absl-py==0.9.0
astor==0.8.1
awkward==0.12.20
cachetools==4.1.0
cycler==0.10.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.28.1
h5py==2.10.0
imageio==2.8.0
imageio-ffmpeg==0.4.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
lxml==3.2.1
M2Crypto==0.21.1
Markdown==3.2.1
matplotlib==3.2.1
numpy==1.18.3
opt-einsum==3.2.1
pandas==1.0.3
Pillow==7.1.1
progress==1.5
protobuf==3.11.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
scipy==1.4.1
six==1.14.0
SQLAlchemy==0.9.8
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
uproot==3.11.3
uproot-methods==0.7.3
Werkzeug==1.0.1
wrapt==1.12.1